<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">
    <head>
        <title>Hotel Range</title>
        <meta charset="utf-8">
        <meta name="author" content="Giorgio">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='hotel.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='img/icon_moon/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='img/icon_moon2/style.css') }}">
    </head>
    <body>

    <!-- HEADER -->
        <header class="header max-width">
            <img src="{{ url_for('static', filename='img/logo_mob.svg') }}">
            <nav class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </header>

        <!-- TOP-CONTENT -->

        <section class="top-content">

            <span class="icon-circle-right"></span>
            <h1>An exciting new venture over the range</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit.</h2>
            <a href="#" class="btn">Get Started</a>
        </section>

        <!-- MIDDLE-CONTENT -->
        <section class="middle-content">
            <article class="middle-article">
                <span class="icon-clock"></span>
                <h3>DESIGNER GUFF</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            </article>

            <article class="middle-article">
                <span class="icon-stopwatch"></span>
                <h3>DETAILD STATS</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            </article>

            <article class="middle-article">
                <span class="icon-cog"></span>
                <h3>DEVELOPMENT</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            </article>

            <article class="middle-article">
                <span class="icon-stats-bars2"></span>
                <h3>DASHBOARD</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            </article>

        </section>

        <!-- MAIN-CONTENT -->

        <section class="main-content">
            <article class="main-article">
                <h3>DESIGNG HEADING</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            </article>

            <article class="main-article">
                <h3>DESIGNG TRENDS</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            </article>

            <article class="main-article clearfix">
                <h3>DESIGNG USERS</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="" class="btn">Buy Now</a>
            </article>

            <article class="main-article clearfix">
                <h3>DESIGNG GOALS</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="" class="btn">Get Started</a>
            </article>


        </section>


        <!-- FOOTER -->
        <footer class="footer">
            <ul class="icon-footer">
                <li><a href="#" class="icon-twitter"><span class="hidden">Twitter</span></a></li>
                <li><a href="https://github.com/GiorgioMorello" target="_blank" class="icon-github"><span class="hidden">Git Hub</span></a></li>
                <li><a href="https://www.linkedin.com/in/giorgio-morello-b72342231/" target="_blank" class="icon-linkedin"><span class="hidden">Linkedin</span></a></li>
            </ul>

            <p>Copyright The Range</p>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
        </footer>
    </body>
</html>